# Allowlisting gitignore template for GO projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore

# Ignore everything
*
# But not these files...
!/.gitignore
!*.go
!go.sum
!go.mod
!README.md
!LICENSE
!*.sh
!Makefile
!*.json
!*.pdf
!*.csv
!*.py
!*.mediawiki
!*.did
!*.rs
!*.toml
!*.file
!*.md
!CHANGELOG.md
# ...even if they are in subdirectories
!*/
!cmd/testnet/*
.dfx
.vscode/
target
node_modules
canister_ids.json
owner.rs
# !cmd/testnet/src/
# !cmd/testnet/src/**/*







